[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"path.py" = "*"
pydrive = "*"
openpyxl = "*"
mysql-connector-python = "*"
numpy = "*"
django = "*"
pandas = "*"
mysql = "*"

[dev-packages]
pylint = "*"
autopep8 = "*"

[requires]
python_version = "3.11"
