[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"path.py" = "*"
mysql-connector-python = "*"
numpy = "*"
pandas = "*"
mysql = "*"
requests = "*"
mysqlclient = "*"
openpyxl = "*"

[dev-packages]
pylint = "*"
autopep8 = "*"

[requires]
python_version = "3.10.6"